
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-bg: linear-gradient(to top,#010329,#000005);
    --color-glass:linear-gradient(to left,#142544,#1a9092);
    --color-water:linear-gradient(to left,#142544,#1b6d6e);
}

body{
    background-image:var(--color-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    overflow: hidden;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    color: white; /* Set text color to white */
    margin: 0; /* Remove default margin */
}

h2 {
    position: absolute;
    top: 100px; /* Adjust the top position as needed */
    color: white; /* Set text color to white */
    margin: 0; /* Remove default margin */
}
